# Ignore .idea directory (used by JetBrains IDEs)
.idea/

# Ignore .DS_Store files (macOS Finder metadata files)
.DS_Store

# ignore db
*.sqlite3

# ignore pyc files
**/__pycache__/
*.py[cod]

# ignore media files
backend/media/